<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap" rel="stylesheet">

    <title>Nay's Food Forum</title>
</head>
<body>
    <section class="border">
    <h1><em>Nay's Food Review</em></h1>
    <h2>Denver Food Spots</h2>
 
    <ol class="restaurant">
    <% for(let i=0; i < info.length; i++) {%>
            <li><%= info[i].restaurantName %></li>
            <li><%= info[i].cuisineType %></li>
            <li><%= info[i].rating %></li>
            <li><%= info[i].likes %></li>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
    <% } %>
    </ol>

    <h3>Add A Food Rec:</h2>

    <form action="/addRestaurant" method="POST">
        <input type="text" placeholder="Restaurant Name" name="restaurantName">
        <input type="text" placeholder="Cuisine Type" name="cuisineType">
        <input type="text" placeholder="Rating" name="rating">
        <input id="button" type="submit">
    </form>

    <img src="http://www.google.com/logos/doodles/2021/dragon-boat-festival-2021-6753651837108963.2-2xa.gif" alt="gif"/>

    </section>      

    <script src='js/main.js'></script>
</body>
</html>